<div class="container">

    <h1>HttpClient</h1>

    <form>
      
      <h4>Heroe</h4>
      
      <div class="mb-3">
        <label for="id">Id</label>
        <input type="text" name="id" class="form-control" [(ngModel)]="heroId"> 
      </div>
    
      <div class="mb-3">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="heroName"> 
      </div>
        
      <div class="mb-3">
        <label for="name">Poder</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="heroPower"> 
      </div>
    
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="get()"> 
          Obtener
        </button>
        <button type="button" class="btn btn-primary" (click)="post(heroName)"> 
          Guardar
        </button>
        <button type="button" class="btn btn-primary" (click)="delete(heroId)"> 
          Eliminar
        </button>
        <button type="button" class="btn btn-primary" (click)="put(heroId, heroName, heroPower)"> 
          Modificar 
        </button>
        <button type="button" class="btn btn-primary" (click)="patchName(heroId, heroName)"> 
          Modificar Nombre 
        </button>
      </div>  
    </form>
  
  </div>
  
  